/* navbar */
.navlink {
  font-family: "Reem Kufi";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: right;
  color: rgb(153, 149, 149);
  flex-grow: 1;
  margin-block: auto;
}
.navimg {
  background-color: #2bbbe7;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.navlink ul li {
  display: inline;
  padding: 8px;
  margin-inline: 1rem;
  text-align: center;
}

.navbtn {
  font-family: "Reem Kufi";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  width: 112px;
  height: 38px;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  margin-block: auto;
  padding-top: 4px;
  text-align: center;
}
@media (max-width: 1023px) {
  .navimg {
    width: 40px;
    height: 40px;
    border-radius: 10px;
  }
  .navbtn {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: 33.93px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    margin-inline: 1rem;
  }
  .navlink {
    display: none;
  }
  .navb {
    max-width: 90%;
  }
  .nav {
    flex-grow: 1;
  }
}
/* navbar */

/* mainsection */
.maincontent {
  margin-block: auto;
}
.mainpage {
  width: 1180px;
  height: 500px;
  background: #87e3ff;
  border-radius: 25px;
}
.mainhead {
  width: 375px;
  height: 96px;
  font-family: Open sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  align-items: center;
  padding-left: 10px;
  color: #000000;
}
.mainsub {
  width: 277px;
  height: 19px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 10px;
  color: #2b2b2b;
}
.mainbtn {
  margin-bottom: 1.5rem;
  width: 381px;
  height: 50px;
  background: #ffffff;
  border-radius: 50px;
}

.mainbtn input[type="text"] {
  width: 295px;
  margin-top: 7px;
  margin-left: 12px;
  /* width: 295px; */
  height: 35px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.mainbtn input[type="text"]:focus {
  outline: none;
}
.playbtn {
  width: 180px;
  height: 55.26px;
  background: #000000;
  border-radius: 5px;
  margin-left: 10px;
}
.playbtn img {
  margin-inline: auto;
  padding-top: 8px;
}
.mainarrow {
  margin-top: 5px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.mainarrow:hover {
  background-color: grey;
}
@media (max-width: 1023px) {
  .mainpage {
    width: 95%;
    height: 100%;
    /* height: 474.18px; */
    background: #87e3ff;
    border-radius: 15px;
  }
  .mainhead {
    width: 100%;
    height: 96px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
  }
  .mainimg {
    margin-inline: auto;
    width: 80%;
    /* height: 198.55px; */
  }
  .mainsub {
    font-style: normal;
    font-size: 12px;
    line-height: 16.34px;
    text-align: center;
    color: rgba(43, 43, 43, 1);
    margin-inline: auto;
    margin-top: 1rem;
  }
  .mainbtn {
    width: 90%;
    height: 40px;
    background: #ffffff;
    border-radius: 50px;
    margin-inline: auto;
  }
  .mainbtn input[type="text"] {
    width: 210.13px;
    height: 28px;
    font-size: 11px;
    margin-left: 20px;
  }

  .playbtn {
    width: 150px;
    height: 46.05px;
    margin-inline: auto;
  }
  .playbtn img {
    width: 125.58px;
    height: 32.09px;
  }
  .mainarrow {
    margin-top: 5px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .mainarrow:hover {
    background-color: grey;
  }
  @media (min-width: 400px) and (max-width: 768px) {
  }
}
/* mainsection */

/* oneonone class */
.on1card1 {
  /* width: 467px; */
  /* height: 404px; */
  /* width: 100%; */
  background: rgba(127, 215, 194, 0.6);
  border-radius: 15px;
  padding-block: 1rem;
  padding-inline: 3rem;
}
.on1card1 p {
  width: 373px;
  height: 43px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  align-items: center;
  color: #000000;
}
.on1card1 img {
  width: 300px;
  height: 229.72px;
}
.cardhead {
  display: flex;
  flex-direction: row;
  padding-block: 1rem;
}
.alarm {
  background: rgba(255, 84, 84, 0.3);
}
.communication {
  background: rgba(243, 173, 74, 0.6);
}
.planet {
  background: rgba(223, 204, 252, 0.6);
}
.ppt {
  background: rgba(190, 232, 218, 0.6);
}
.alarm,
.communication,
.planet,
.ppt {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.onecard1 {
  width: 330px;
  height: 185px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(255, 135, 135, 0.25);
  border-radius: 20px;
  padding-inline: 1rem;
}
.bookbtn {
  margin-top: 2rem;
  width: 374.94px;
  height: 50px;
  background: #000000;
  border-radius: 10px;
}
.bookbtn p {
  /* width: 297.78px; */
  height: 33.66px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.one1head {
  width: 147.33px;
  height: 50px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-left: 1rem;
}

.one1content {
  width: 291.03px;
  height: 91px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #202020;
}

@media (max-width: 1023px) {
  .one1onealign {
    max-width: 85%;
    margin-inline: auto;
  }
  .on1card1 {
    background-color: white;
    padding-block: 0px;
    padding-inline: 0px;
  }
  .on1card1 p {
    width: 100%;
    height: 69.64px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    align-items: center;
    text-align: center;
    color: #262626;
  }
  .oneimg2 {
    display: none;
  }
  .on1card1 img {
    /* width: 400px; */
    height: 291.07px;
  }
  .bookbtn {
    margin-top: 0;
    width: 100%;
    height: 50px;
  }
  .bookbtn p {
    width: 100%;
    height: 33.66px;
    color: #ffffff;

    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    align-items: center;
    text-align: center;
  }
  .onecard1 {
    width: 100%;
    margin-block: 1rem;
    height: 185px;
  }

  .one1head {
    width: 147.33px;
    height: 50px;
  }

  .one1content {
    width: 100%;
    height: 91px;
  }

  @media (min-width: 540px) and (max-width: 768px) {
  }
}
/* oneonone class */

/* oneonone class */
.on1card1 {
  /* width: 467px; */
  /* height: 404px; */
  /* width: 100%; */
  background: rgba(127, 215, 194, 0.6);
  border-radius: 15px;
  padding-block: 1rem;
  padding-inline: 3rem;
}
.on1card1 p {
  width: 373px;
  height: 43px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  align-items: center;
  color: #000000;
}
.on1card1 img {
  width: 300px;
  height: 229.72px;
}
.cardhead {
  display: flex;
  flex-direction: row;
  padding-block: 1rem;
}
.alarm {
  background: rgba(255, 84, 84, 0.3);
}
.communication {
  background: rgba(243, 173, 74, 0.6);
}
.planet {
  background: rgba(223, 204, 252, 0.6);
}
.ppt {
  background: rgba(190, 232, 218, 0.6);
}
.alarm,
.communication,
.planet,
.ppt {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.onecard1 {
  width: 330px;
  height: 185px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(255, 135, 135, 0.25);
  border-radius: 20px;
  padding-inline: 1rem;
}
.bookbtn {
  margin-top: 2rem;
  width: 374.94px;
  height: 50px;
  background: #000000;
  border-radius: 10px;
}
.bookbtn p {
  /* width: 297.78px; */
  height: 33.66px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.one1head {
  width: 147.33px;
  height: 50px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-left: 1rem;
}

.one1content {
  width: 291.03px;
  height: 91px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #202020;
}

@media (max-width: 1023px) {
  .one1onealign {
    max-width: 85%;
    margin-inline: auto;
  }
  .on1card1 {
    background-color: white;
    padding-block: 0px;
    padding-inline: 0px;
  }
  .on1card1 p {
    width: 100%;
    height: 69.64px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    align-items: center;
    text-align: center;
    color: #262626;
  }
  .oneimg2 {
    display: none;
  }
  .on1card1 img {
    /* width: 400px; */
    height: 291.07px;
  }
  .bookbtn {
    margin-top: 0;
    width: 100%;
    height: 50px;
  }
  .bookbtn p {
    width: 100%;
    height: 33.66px;
    color: #ffffff;

    font-weight: 600;
    font-size: 24px;
    line-height: 33px;

    align-items: center;
    text-align: center;
  }
  .onecard1 {
    width: 100%;
    margin-block: 1rem;
    height: 185px;
  }

  .one1head {
    width: 147.33px;
    height: 50px;
  }

  .one1content {
    width: 100%;
    height: 91px;
  }
}
/* oneonone class */
/* doubt */

/* .doubts {
  background-image: url("./image/Vectorbg.png");
} */

.doubt-head {
  font-family: Reem Kufi;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.doubt-content {
  width: 591.22px;
  height: 57.9px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 19.12px;
  text-align: center;
  color: rgba(38, 38, 38, 1);
}
.doubtname {
  width: 291.16px;
  height: 42px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
  line-height: 42px;
  color: rgba(0, 0, 0, 1);
}
.doubt1:nth-child(even) {
  padding-left: 2rem;
}
.doubtcontent {
  width: 283.25px;
  height: 51.48px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
}

.doubtbg {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    180deg,
    rgba(67, 233, 123, 0.7) 0%,
    rgba(56, 249, 215, 0.7) 100%
  );
  box-shadow: -2px 4px 10px 4px rgba(131, 131, 131, 0.1);
  border-radius: 10px;
}
@media (max-width: 1023px) {
  .doubts {
    display: none;
  }
}
.askfree {
  width: 838px;
  height: 55px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  text-align: center;
  color: #000000;
}

.askfree-content {
  width: 806px;
  height: 93px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #838383;
}

.freeimg1 {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.freeimgbg {
  position: relative;
}
.freeimg3 {
  position: relative;
}
.freebg {
  position: absolute;
  left: 500px;
  top: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: 70px;
  background: #000000;
  border-radius: 15px;
}
.freebg p {
  width: 431.51px;
  height: 56px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 41px;
  text-align: center;

  color: #ffffff;
}
/* doubt */

/* videos */
#video-section {
  background: rgba(135, 227, 255, 0.3);
}
.video-heading {
  padding-bottom: 1rem;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 65.57px;
  color: #262626;
}
.video-content {
  margin-bottom: 2rem;
  width: 877.65px;
  height: 92.31px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 21.13px;
  color: #737373;
}
.videos {
  margin-bottom: 4rem;
}
.video1,
.video2,
.video3 {
  width: 375.18px;
  height: 289.5px;
  background: #ffffff;
  box-shadow: -5px 5px 10px 5px rgba(229, 229, 229, 0.25);
  border-radius: 10px;
}

.video1 img,
.video2 img,
.video3 img {
  border-radius: 20px;
}

/* 
.video1-img,
.video2-img,
.video3-img {
  position: relative;
  right: 1.5%;
  width: 384.83px;
  height: 192.79px;
  background: #87e3ff;
  border-radius: 20px;
} */

.video1-name,
.video2-name,
.video3-name {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  line-height: 32.78px;
  color: rgba(43, 43, 43, 1);
}
.video1-desc,
.video2-desc,
.video3-desc {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 27.32px;
  color: rgba(131, 131, 131, 1);
}
.watch-bg {
  margin-left: 2rem;
  width: 350px;
  height: 80px;
  background-color: #000;
  box-shadow: 0px 4px 10px 4px rgba(38, 38, 38, 0.2);
  border-radius: 10px;
  position: relative;
}
.watch-more {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.vedio-img1 {
  width: 150px;
  height: 126px;
  border-radius: 50%;
}
.circle1 {
  background: linear-gradient(135deg, #2ad9ff 0%, #26c5ec 100%);
  box-shadow: -5px 5px 10px rgba(36, 186, 221, 0.2),
    5px -5px 10px rgba(36, 186, 221, 0.2),
    -5px -5px 10px rgba(44, 228, 255, 0.9), 5px 5px 13px rgba(36, 186, 221, 0.9),
    inset 1px 1px 2px rgba(44, 228, 255, 0.3),
    inset -1px -1px 2px rgba(36, 186, 221, 0.5);
  height: 47px;
  width: 45px;
  border-radius: 50%;
}
.circle {
  position: absolute;
  z-index: 5;
  background: linear-gradient(135deg, #2ad9ff 0%, #26c5ec 100%);
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
@media (max-width: 1023px) {
  .video-heading {
    width: 100%;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 33px;
    line-height: 38.25px;
    color: rgba(38, 38, 38, 1);
  }
  .video-content {
    width: 90%;
    font-family: "Raleway";
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 16.44px;
    color: rgba(115, 115, 115, 1);
  }
  .video1,
  .video2,
  .video3 {
    width: 95%;
    /* height: 193.75px; */
    background: #ffffff;
    box-shadow: -5px 5px 10px 5px rgba(229, 229, 229, 0.25);
    border-radius: 10px;
    margin-inline: auto;
  }
  .video1 img,
  .video2 img,
  .video3 img {
    position: relative;

    width: 100%;
    /* height: 100%; */

    border-radius: 20px;
  }

  .video1-name,
  .video2-name,
  .video3-name {
    font-size: 20px;
    line-height: 27.32px;
  }
  .video1-desc,
  .video2-desc,
  .video3-desc {
    font-size: 16px;
    line-height: 21.86px;
  }
  .watch-bg {
    position: relative;
    margin-left: 2rem;
    width: 231.75px;
    height: 52.97px;
  }
  .circle {
    position: absolute;

    left: 2%;
    width: 52.97px;
    height: 55.5px;
  }
  .watch-more {
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
  }
  .play {
    display: none;
  }

  @media (max-width: 1023px) and (min-width: 540px) {
    .video1,
    .video2,
    .video3 {
      width: 70%;
    }
    .video1-img,
    .video2-img,
    .video3-img {
      position: relative;
      right: 1%;
      width: 100%;
    }
  }
}
/* videos */

/* mock test */
.mocktest_name {
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  line-height: 32.78px;
  color: #262626;
}
.mocktest_details {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 18.78px;
  color: #262626;
}
.mocktest_free {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 1rem;
}
.mocktest_free p {
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  line-height: 27.32px;
  text-align: center;
  text-transform: uppercase;
}
.start_test {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  line-height: 19.2px;
}

.free_mock {
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 54.64px;
  color: #262626;
}

.free_mock_details {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 21.13px;
  color: #838383;
  width: 500px;
}

.free_mock_img {
  width: 350px;
  height: 345.29px;
}

.more_free_test {
  width: 350px;
  height: 60px;
  box-shadow: 0px 0px 25px 5px rgba(131, 131, 131, 0.1);
  border-radius: 10px;
  padding-top: 0.8rem;
  background: #87e3ff;
}

.more_free_test p {
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 35.52px;
  text-align: center;
  color: #2d2d2d;
}

.mock_name1 {
  width: 450px;
  height: 180px;
  background: #7bf6d8;
  border-radius: 25px;
}

.mock_name2 {
  width: 450px;
  height: 180px;
  background: #ffe85e;
  border-radius: 25px;
}
.mock_name3 {
  width: 450px;
  height: 180px;
  background: #feb3b1;
  border-radius: 25px;
}

.mock_img {
  width: 100px;
  height: 100px;
}

.more_free_test1 {
  display: none;
}
@media (max-width: 1023px) {
  .free_mock {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    line-height: 49.18px;
    color: rgba(38, 38, 38, 1);
    text-align: center;
  }
  .free_mock_details {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 18.78px;
    color: rgba(131, 131, 131, 1);
    text-align: center;
    width: 100%;
  }
  .free_mock_details p {
    width: 90%;
    text-align: center;
    margin: auto;
  }
  .mocks-heading {
    text-align: center;
  }
  .more_free_test {
    display: none;
  }
  .free_mock_img {
    width: 215.52px;
    height: 212.62px;
    margin-block: 1rem;
  }
  .mock_img {
    width: 73px;
    height: 73px;
  }
  .mock_name1 {
    width: 100%;
    height: 115px;
    background: #7bf6d8;
    border-radius: 25px;
  }

  .mock_name2 {
    width: 100%;
    height: 115px;
    background: #ffe85e;
    border-radius: 25px;
  }

  .mock_name3 {
    width: 100%;
    height: 115px;
    background: #feb3b1;
    border-radius: 25px;
  }
  .mocktest_name {
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 21.86px;
    color: rgba(38, 38, 38, 1);
  }
  .mocktest_details {
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    line-height: 11.74px;
    color: rgba(38, 38, 38, 1);
  }
  .mock_name {
    flex-grow: 2;
  }
  .mocktest_free {
    flex-grow: 1;
    width: 43.84px;
    height: 43.84px;
    background: #ffffff;
    border-radius: 10px;
  }
  .mocktest_free p {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 12px;
    line-height: 16.39px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
  }
  .start_test {
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 14.4px;
    color: rgba(51, 47, 47, 1);
  }
  .more_free_test1 {
    display: block;
    width: 250px;
    height: 42.86px;
    background: #87e3ff;
    box-shadow: 0px 0px 25px 5px rgba(131, 131, 131, 0.1);
    border-radius: 10px;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 24.59px;
    text-align: center;
    color: rgba(45, 45, 45, 1);
    padding-top: 0.8rem;
  }
}
/* mock test */

/* testimonial */

.testimonial-title {
  width: 100%;
  height: 43px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 65.57px;
  color: rgba(0, 0, 0, 1);
}
.testimonial-content {
  font-family: "Questrail", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 24.72px;
  color: rgba(60, 60, 60, 1);
  width: 518px;

  /* height: 160px; */
}
.testimonial-head {
  font-family: "Manrope", sans-serif;
  width: 559px;
  /* height: 43px; */
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 43.2px;
}

@keyframes jump {
  100% {
    border: 2px solid blue;
    transform: scale(1.1, 1.1);
    box-shadow: 4px 4px 22px 1px #888888;
  }
}

.example {
  animation-name: jump;
  animation-duration: 1s;
  animation-delay: 1s;
}
.example1 {
  animation-name: jump;
  animation-duration: 1s;
  animation-delay: 2s;
}
.example2 {
  animation-name: jump;
  animation-duration: 1s;
  animation-delay: 3s;
}
.underline1 span {
  display: inline-block;
  position: relative;
}

.underline1 span:after {
  content: "";
  height: 1px;
  width: 90%;
  background-color: gray;
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  transform: translate(-50%);
}

@media (max-width: 1023px) {
  .rightflex {
    height: 200px;
  }

  .testimonial {
    padding-inline: 1rem;
    margin-inline: 1rem;
    padding-bottom: 2rem;
    background: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  .testimonial-title {
    /* width: 90%; */
    height: 82px;
    font-size: 30px;
    line-height: 40.98px;
    margin-bottom: 4rem;
  }
  .testimonial-head {
    width: 100%;
    /* height: 58px; */
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 1rem;
  }
  .testimonial-content {
    width: 100%;
    /* height: 130.67px; */
    font-size: 18px;
    line-height: 20.54px;
    padding-bottom: 1rem;
  }

  @keyframes jump {
    0% {
    }
  }

  .example {
    animation-name: jump;
  }
}

/* achievement */
.cardbackground {
  background: linear-gradient(
    102.4deg,
    #6cbedd 5.64%,
    rgba(121, 207, 240, 0.7) 92.95%
  );
}

.card-shadow {
  border: 1px solid rgba(131, 131, 131, 0.15);
  width: 400px;
  height: 200px;
  box-shadow: 8px 5px 30px rgba(131, 131, 131, 0.15);
  border-radius: 30px;
}

.content1,
.content2,
.content3,
.content4 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: rgba(0, 0, 0, 1);
}

.number {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  color: rgba(51, 51, 51, 1);
}
.back {
  padding-block: 3rem;
  background-color: #e5e5e5;
  background-image: url("../public/image/Vector.png");

  background-repeat: no-repeat;
  background-position: 110% 60%;
}
.join-acheivement {
  width: 485px;
  height: 72px;
  background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
  border-radius: 20px;
}
.join {
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 38.25px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 1023px) {
  .achievement_name {
    font-size: 40px;
    line-height: 38.25px;
  }
  .cardbackground {
    background: linear-gradient(102.4deg, #6cbedd 5.64%, #9ce4ff 92.95%);
  }
  .card-shadow {
    width: 90%;
    height: 95%;
    box-shadow: 8px 5px 30px rgba(131, 131, 131, 0.15);
    border-radius: 0px 30px 30px 0px;
  }
  .card-shadow:nth-child(even) {
    border-radius: 30px 0px 0px 30px;
  }
  .comp {
    font-size: 24px;
  }
  .content1,
  .content2,
  .content4 {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 26px;
    /* line-height: 38.25px; */
    color: rgba(0, 0, 0, 1);
  }
  .number {
    font-family: Raleway;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    line-height: 46.96px;
    color: rgba(0, 0, 0, 1);
  }
  .join-acheivement {
    width: 90%;
    height: 72px;
    background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%);
    border-radius: 20px;
  }
  .back {
    padding-block: 3rem;
    background-color: #e5e5e5;
    background-image: url("../public/image/Vector.png");
    background-repeat: no-repeat;
    background-position: -280% 58%;
  }
  /* 768px 540px */
  @media (min-width: 540px) and (max-width: 769px) {
    .card-shadow {
      width: 70%;
    }
    .achievement_name {
      font-size: 29px;
      font-weight: 600;
      line-height: 38.25px;
    }
  }
}

.footer {
  /* position: relative; width:  1440px;height:  2278.69px; z-index: 1; position: absolute;
  margin-top: 25%;*/
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #27252f;
  padding-block: 10%;
  /* margin-top: 100%; */
}
.wholefooter {
  position: relative;
  margin-top: 35%;
}
/* 
.calltoaction {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  margin-top: -94%;
  padding-left: 11%;
} */
.call-to-action {
  width: 90%;
  height: 500px;
  background: #ffffff;
  box-shadow: 0px -4px 32px 16px rgba(131, 131, 131, 0.1);
  border-radius: 11.8px;
}

.tablet_img {
  margin-left: 9rem;
  width: 100%;
  height: 322px;
}

.playstore_img {
  width: 198px;
  height: 60px;
}

.call-to-action {
  /* z-index: 2; */
  position: absolute;
  bottom: 90%;
  left: 70px;
  display: flex;
  justify-content: space-around;
  /* position: absolute; 
  top: -41%; right: 11%;  z-index: 2; position: absolute;*/
}

.heading {
  width: 340px;
  height: 120px;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 40px;
  color: #3c4852;
  margin-bottom: 1rem;
}

.sub_heading {
  width: 390px;
  height: 65px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins";
}
.footer-details {
  width: 100%;
}
/* }1180px */

.details1-head1,
.details1-head2,
.details1-head3,
.details1-head4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28.18px;
  color: rgba(131, 131, 131, 1);
  padding-bottom: 14px;
  padding-top: 10px;
}
.details1 li {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21.13px;
  color: rgba(255, 255, 255, 1);
  padding-block: 10px;
  margin-block: 4px;
}
.details2-head1,
.details2-head2 {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 21.13px;
  color: rgba(131, 131, 131, 1);
}

.details2-desc1,
.details2-desc2 {
  font-weight: "Raleway";
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21.13px;
  color: rgba(255, 255, 255, 1);
}

.details3-content1 {
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 28.18px;
  color: rgba(214, 214, 214, 1);
  width: 304px;
  padding-bottom: 20px;
}

.details3-img {
  width: 148.85px;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.details3-copyrit {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21.13px;
  color: rgba(103, 91, 76, 1);
}

.details3-logo {
  margin-top: 20px;
  margin-left: 70px;
}

.fab {
  margin-inline: 6px;
}

.iconborder i {
  width: 50px;
  height: 50px;
  border: 1px solid #7c7c7c;
  box-sizing: border-box;
  border-radius: 40px;
  padding-top: 9px;
  padding-left: 9px;
  color: white;
}
.iconborder i:nth-child(4n + 0) {
  padding-left: 6px;
}
@media (max-width: 1023px) {
  .wholefooter {
    margin-top: 130%;
  }
  .footer {
    padding-block: 50%;
  }
  .details1-head1,
  .details1-head2,
  .details1-head3,
  .details1-head4 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgba(131, 131, 131, 1);
  }
  .details1 {
    padding-left: 7px;
  }
  .details3-content1 {
    padding-left: 10px;
  }
  .footer-details {
    width: 100%;
  }
  /* .iconborder1 i {
    width: 29.14px;
    height: 28.98px;
    border-radius: 40px;
    border: 1px solid #7c7c7c;
    box-sizing: border-box;
  } */
  .fab {
    padding-top: 2rem;
    font-size: 22px;
  }
  .details2,
  .details3-copyrit {
    display: none;
  }
  .details3-content1 {
    width: 100%;
    height: 49.72px;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 21.13px;
    color: rgba(214, 214, 214, 1);
  }
  .details3-logo {
    margin-top: 0px;
    margin-left: 0px;
  }

  .call-to-action {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    left: 15px;
  }

  .heading {
    width: 100%;
    height: 42px;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 30px;
    color: #3c4852;
    margin-top: 2rem;
  }
  .sub_heading {
    width: 100%;
    height: 65px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
  }
  .playstore_img {
    margin-inline: auto;
    width: 198px;
    height: 60px;
  }
  .tablet_img {
    margin-left: 0px;
    height: 100px;
  }
  @media (max-width: 550px) and (min-width: 500px) {
    .tablet_img {
      margin-top: -80px;
    }
  }
  @media (min-width: 350px) and (max-width: 380px) {
    .solution {
      font-size: 21px;
    }
  }

  @media (max-width: 290px) {
    .heading {
      font-size: 23px;
    }
  }
  /* .details3-img {
    width: 195.66px;
    height: 50px;
    border-radius: 5px;
  } */
}
/* study material */

.book-img,
.exam-img,
.patent-img,
.textbook-img {
  width: 92.53px;
  height: 98.09px;
}

.study_sub_content {
  font-family: Raleway;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #838383;
  line-height: 19px;
  width: 492px;
  height: 121px;
}

.study_card {
  width: 194.81px;
  height: 292.21px;
  border-radius: 25px;
  box-shadow: 2px 10px 15px 5px rgba(214, 214, 214, 0.29);
}
/* .study-img{
  width:490px;height :441px;
} */
.study1_bg {
  background: #b6e5e5;
}

.study2_bg {
  background: #ffe9b3;
}

.study3_bg {
  background: #ddefff;
}

.study4_bg {
  background: #faddff;
}

@media (max-width: 1023px) {
  .study_sub_content {
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 18.78px;
    color: rgba(131, 131, 131, 1);
    width: 90%;
    height: 100%;
  }
  .study-img {
    width: 200px;
    height: 200px;
  }
  .study_card {
    width: 45%;
    height: 245px;
    margin: 1.5%;
  }
  .text-solution {
    line-height: 1.5rem;
  }

  .study-head-desc {
    width: 127px;
    height: 65.78px;
  }
  .syllabus {
    padding-top: 1rem;
  }
  .book-img,
  .exam-img,
  .patent-img,
  .textbook-img {
    width: 71.25px;
    height: 75.53px;
  }
  .studycard {
    justify-content: space-around;
  }
  @media (max-width: 400px) {
    .study-head-desc {
      height: 45.78px;
    }
  }
}
