/* navbar desktop view*/
.navb {
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: white;
  z-index: 3;
}

.desktopNavbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navlink li {
  font-family: "Reem Kufi";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  margin-inline: 2rem;
  margin-block: 2rem;
}

.navimg {
  background-color: #2bbbe7;
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.navlink li a {
  position: relative;
  padding: 6px 0;
}

.navlink li a:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0%;
  background: black;
  transition: all 0.4s ease;
}

.navlink li a:hover:before {
  width: 100%;
}

.navlink li.first-navlink a:hover:before {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.navlink li.second-navlink a:hover:before {
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
/* .navlink li.third-navlink a:before {
  width: 100%;
  bottom: -5px;
  opacity: 0;
} */
.navlink li.third-navlink a:hover:before {
  /* bottom: 0px;
  opacity: 1; */
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

/* .navlink li.fourth-navlink a:before {
  width: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease;
} */

.navlink li.fourth-navlink a:hover:before {
  /* transform: scaleX(1);
  transform-origin: left; */
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}
.navbtn {
  font-family: "Reem Kufi";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  /* width: 112px;
  height: 38px; */
  padding-inline: 1.3rem;
  padding-block: 0.2rem;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;
  margin-block: auto;
  padding-top: 4px;
  text-align: center;
}

.navbtn:hover {
  background-color: #000;
}

.navbtn:hover a {
  color: white;
}

.mobilenavbar,
.navBarBtn,
.mobilenavlinkcard {
  display: none;
}
/* navbar mobileview */

@media (max-width: 767px) {
  .navimgMobile {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #2bbbe7;
  }

  nav ul li a:hover,
  nav ul li a.active {
    background-color: red;
  }
  .mobilenavbar,
  .mobilenavlinkcard,
  .mobilenavlinkcard1 {
    display: block;
  }

  .navBarBtn {
    display: block;
    margin-top: 0.25rem;
    margin-left: 1.5rem;
    cursor: pointer;
  }
  .desktopNav {
    display: none;
  }

  .desktopNavbar {
    justify-content: space-between;
    padding-inline: 1rem;
  }

  .mobilenavbar {
    position: fixed;
    top: -100%;
    left: 0;
    background: white;
    /* height: 70vh; */
    z-index: 2;
    width: 100%;
    transition: all 0.5s ease;
  }

  /* #click:checked ~ .mobile-navlink {
    top: 80px;
    background-color: red;
  } */

  .mobile-navlink ul li {
    font-family: "Reem Kufi";
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    margin-block: 1.5rem;
    color: black;
  }
  .mobileNavlinkCard {
    height: 70px;
    width: 90%;
    margin-block: 2rem;
    display: flex;
    align-items: center;
    background: #b8eeff;
    box-shadow: 4px 4px 4px rgba(131, 131, 131, 0.15);
    border-radius: 5px;
    justify-content: space-around;
    margin-inline: auto;
  }

  .mobileNavHeading {
    width: 163px;
    height: 25px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000c49;
  }
  .mobileNavDesc {
    width: 164px;
    height: 16px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #2d2d2d;
  }
  /* .navbtn {
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
    width: 100px;
    height: 33.93px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 8px;
    margin-inline: 1rem;
  } */

  /* .desktopNavbar {
    display: none;
  } */

  /* .nav {
    flex-grow: 1;
  } */
}
/* navbar */

/* mainsection desktop view*/
.maincontent {
  margin-block: auto;
}

.mainpage {
  width: 1180px;
  height: 500px;
  background: #87e3ff;
  border-radius: 25px;
}

.mainhead {
  width: 375px;
  height: 96px;
  font-family: Open sans;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 38px;
  align-items: center;
  padding-left: 10px;
  color: #000000;
}

.mainsub {
  width: 277px;
  height: 19px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 10px;
  color: #2b2b2b;
}

.mainbtn {
  margin-bottom: 1.5rem;
  width: 381px;
  height: 50px;
  background: #ffffff;
  border-radius: 50px;
}

.mainbtn input[type="text"] {
  width: 295px;
  margin-top: 7px;
  margin-left: 12px;
  /* width: 295px; */
  height: 35px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.mainbtn input[type="text"]:focus {
  outline: none;
}
/* 
.playbtn {
  width: 180px;
  height: 55.26px;
  background: #000000;
  border-radius: 5px;
  margin-left: 10px;
}

.playbtn img {
  margin-inline: auto;
  padding-top: 8px;
} */

.mainarrow {
  margin-top: 5px;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.mainarrow:hover {
  background-color: grey;
}

/* mainsection mobileview */

@media (max-width: 767px) {
  .mainpage {
    width: 95%;
    height: 100%;
    /* height: 474.18px; */
    background: #87e3ff;
    border-radius: 15px;
  }

  .mainhead {
    width: 100%;
    height: 96px;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #000000;
    padding-top: 2rem;
    padding-left: 0px;
  }

  .mainimg {
    margin-inline: auto;
    width: 80%;
    /* height: 198.55px; */
  }

  .mainsub {
    font-style: normal;
    font-size: 12px;
    line-height: 16.34px;
    text-align: center;
    color: rgba(43, 43, 43, 1);
    margin-inline: auto;
    margin-top: -1rem;
  }

  .mainbtn {
    width: 90%;
    height: 40px;
    background: #ffffff;
    border-radius: 50px;
    margin-inline: auto;
  }

  .mainbtn input[type="text"] {
    width: 210.13px;
    height: 28px;
    font-size: 11px;
    margin-left: 20px;
  }

  .playbtn {
    width: 150px;
    height: 46.05px;
    margin-inline: auto;
  }

  /* .playbtn img {
    width: 125.58px;
    height: 32.09px;
  } */

  .mainarrow {
    margin-top: 5px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }

  .mainarrow:hover {
    background-color: grey;
  }
}

/* oneonone class desktop view */

.on1card1 {
  background: rgba(127, 215, 194, 0.6);
  border-radius: 15px;
  padding-block: 1rem;
  padding-inline: 3rem;
}

.on1card1 p {
  /* width: 373px; */
  height: 43px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 36px;
  text-align: center;
  align-items: center;
  color: #000000;
}

.on1card1 img {
  width: 300px;
  height: 229.72px;
}

.cardhead {
  display: flex;
  flex-direction: row;
  padding-block: 1rem;
}

.alarm {
  background: rgba(255, 84, 84, 0.3);
}
.communication {
  background: rgba(243, 173, 74, 0.6);
}
.planet {
  background: rgba(223, 204, 252, 0.6);
}
.ppt {
  background: rgba(190, 232, 218, 0.6);
}

.alarm,
.communication,
.planet,
.ppt {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.onecard1 {
  width: 330px;
  height: 185px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(255, 135, 135, 0.25);
  border-radius: 20px;
  padding-inline: 1rem;
}

.onecard1:hover {
  transition: 0.7s;
  transform: scale(1.02);
}
.bookbtn {
  margin-top: 2rem;
  /* width: 374.94px;
  height: 50px; */
  padding-inline: 6rem;
  padding-block: 0.7rem;
  background: #000000;
  border-radius: 10px;
}

.bookbtn:hover {
  background-color: #161616;
}
.bookbtn p {
  /* width: 297.78px; */
  height: 33.66px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.bookbtn:hover p {
  color: #ffffff;
}
.one1head {
  width: 147.33px;
  height: 50px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #000000;
  padding-left: 1rem;
}

.one1content {
  width: 291.03px;
  height: 91px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #202020;
}

/* oneonone mobileview  */
@media (max-width: 767px) {
  .one1onealign {
    max-width: 85%;
    margin-inline: auto;
  }

  .on1card1 {
    background-color: white;
    padding-block: 0px;
    padding-inline: 0px;
  }

  .on1card1 p {
    width: 100%;
    /* height: 69.64px; */
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 41px;
    align-items: center;
    text-align: center;
    color: #262626;
  }

  .oneimg2 {
    margin-block: 3rem;
  }

  .bookbtn {
    margin-top: 0;
    width: 100%;
    height: 50px;
    padding-inline: 0px;
    padding-block: 0px;
    /* margin-inline: auto; */
  }

  .bookbtn p {
    width: 100%;
    height: 33.66px;
    color: #ffffff;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    align-items: center;
    text-align: center;
  }

  .onecard1 {
    width: 100%;
    margin-block: 1rem;
    height: 185px;
  }

  .one1head {
    width: 147.33px;
    height: 50px;
  }

  .one1content {
    width: 100%;
    height: 91px;
  }
}
/* oneonone class */

/* price section desktop view*/

.price-names {
  margin-top: 5rem;
}

.price-head {
  /* width: 596px; */
  height: 60px;
  font-family: Reem Kufi;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  line-height: 60px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.price-content {
  width: 591.22px;
  /* height: 57.9px; */
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 19.12px;
  text-align: center;
  color: rgba(38, 38, 38, 1);
}

.pricecard-name {
  /* width: 291.16px; */
  /* height: 42px; */
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
  line-height: 42px;
  color: rgba(0, 0, 0, 1);
}

.price-card1:nth-child(even) {
  padding-left: 2rem;
}

.pricecard-content {
  width: 283.25px;
  height: 51.48px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: rgba(0, 0, 0, 1);
}

.priceContent {
  z-index: 1;
}
.price-bg {
  width: 100px;
  height: 100px;
  background: linear-gradient(
    180deg,
    rgba(67, 233, 123, 0.7) 0%,
    rgba(56, 249, 215, 0.7) 100%
  );
  box-shadow: -2px 4px 10px 4px rgba(131, 131, 131, 0.1);
  border-radius: 10px;
}

@media (min-width: 767px) {
  .price {
    display: flex;
    justify-content: center;
  }
}

/* price section mobile view */

@media (max-width: 767px) {
  .price {
    max-width: 90%;
    margin-inline: auto;
  }

  .price-head {
    width: 100%;
    height: 100%;
    font-family: Manrope;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #000000;
  }

  .price-content {
    width: 100%;
    height: 100%;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #262626;
  }

  .price-bg {
    width: 92.52px;
    height: 92.52px;
    flex: none;
    padding-top: 8px;
    padding-left: 5px;
  }

  .pricecard-name {
    /* width: 269.38px; */
    /* height: 38.86px; */
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    color: #000000;
  }

  .pricecard-content {
    width: 100%;
    /* height: 47.63px; */
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #000000;
  }

  .price-card1:nth-child(even) {
    padding-left: 0px;
  }

  .price-names {
    margin-top: 2rem;
  }
}

/* doubt section desktop view */

.doubt-heading {
  width: 285px;
  height: 55px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 55px;
  margin-inline: auto;
  margin-block: 2rem;
  color: #000000;
}

.doubt-content {
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  height: 450px;
}

.doubt-box {
  display: flex;
  width: 433.68px;
  height: 120px;
  /* background: #000000; */
  box-shadow: 2px 4px 12px rgba(38, 38, 38, 0.1);
  border-radius: 10px;
  padding-top: 1rem;
  padding-left: 2.5rem;
}

/* .doubt-box:hover {
  background: #000000;
} */

.doubtbox-name {
  /* height: 44px; */
  font-family: Manrope;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  /* color: white; */
}

/* .doubt-box:hover {
  background: #000000;
  color: white;
} */

/* .doubt-box:hover .doubtbox-name {
  color: white;
} */

.doubtbox-desc {
  /* width: 255.81px; */
  height: 30px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  /* color: white; */
  color: #332f2f;
}

/* .doubt-box:hover .doubtbox-desc {
  color: white;
} */

.doubt-left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.doubt-box-img img {
  width: 60px;
  height: 62.22px;
}

.doubt-box-img {
  width: 81.52px;
  height: 81.52px;
  border-radius: 50%;
  padding-top: 0.5rem;
  padding-left: 0.7rem;
  margin-right: 1rem;
}

.doubtbox-bg1 {
  background: #e8965c;
}

.doubtbox-bg2 {
  background: rgba(31, 83, 216, 0.5);
}

.doubtbox-bg3 {
  background: rgba(240, 39, 135, 0.5);
}

.doubt-rightsection-name {
  width: 413px;
  height: 38px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

.doubt-rightsection-desc {
  width: 413.95px;
  height: 39.46px;
  font-family: Manrope;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #2d2d2d;
}

.doubt-mobileimage {
  /* position: absolute;
  z-index: 1; */
  margin-top: 2rem;
  margin-left: -1rem;
}
.doubt-mobilebgimage img {
  width: 350px;
  height: 350px;
  margin-top: 3.5rem;
  /* margin-left: 2rem; */
}

.doubt-mobilebgimage {
  position: relative;
  margin-top: 4rem;
  margin-left: 2rem;
}

.doubtanimation {
  width: 340px;
  margin-top: 2rem;
  margin-left: 3rem;
}

.doubt-box-blacked {
  background-color: black;
}
.doubt-box-blacked .doubtbox-name,
.doubt-box-blacked .doubtbox-desc {
  color: white;
}
/* .doubt-box-blacked-cvz9 {
  /* background-color: black; 
  color: white;
} */
.doubt-mobile-view {
  display: none;
}

/* doubt mobile view */

@media (max-width: 767px) {
  .doubtdiv {
    margin-inline: 1rem;
  }
  .doubt-content {
    display: none;
  }

  .doubt-mobile-view {
    display: inline;
  }
  .doubt-heading {
    width: 200px;
    height: 38px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;

    font-size: 28px;
    line-height: 38px;
    text-align: center;
    color: #000000;
  }

  /* .doubt-contents {
    width: 240px;
  } */
  .doubt-rightsection-name {
    width: 100%;
    height: 80px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #262626;
  }
  .doubt-box {
    width: 100%;
    height: 102.35px;
    background: #000000;
    box-shadow: 2px 4px 12px rgba(38, 38, 38, 0.1);
    border-radius: 10px;
    justify-content: center;
    padding-left: 0rem;
  }

  .doubtbox-name {
    /* width: 186.87px; */
    height: 37.53px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    color: #fff;
  }

  .doubtbox-desc {
    /* width: 238.39px; */
    height: 25.59px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #fff;
  }

  .doubt-box-img {
    flex: none;
    width: 69.53px;
    height: 69.53px;
  }
  .doubt-box-img img {
    width: 51.18px;
    height: 53.07px;
  }

  .doubt-heading {
    margin-block: 0px;
  }
  .doubt-step-img {
    position: relative;
    max-width: 22rem;
    margin-inline: auto;
    margin-top: 3rem;
    border: 1px solid transparent;
  }
  .doubt-mobileviewimg {
    position: absolute;
    z-index: 1;
  }

  .doubt-mobileviewbgimage img {
    margin-left: 2rem;
    margin-top: 1rem;
    width: 280px;
    height: 280px;
  }
  .doubt-mobileviewbgimage {
    position: relative;
    max-width: 25rem;
    margin-inline: auto;
  }
  .doubt-mobile-steps-row {
    /* display: flex;
    flex-direction: row;
    overflow: hidden; */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100%;
    overflow: hidden;
    margin-top: 5rem;
  }

  @media (max-width: 281px) {
    .doubt-mobileviewbgimage img {
      margin-left: 1.4rem;
      margin-top: 1rem;
      width: 200px;
      height: 200px;
    }
  }

  @media (min-width: 310px) and (max-width: 321px) {
    .doubt-mobileviewbgimage img {
      margin-left: 1.8rem;
      margin-top: 1rem;
      width: 230px;
      height: 230px;
    }
  }

  @media (min-width: 322px) and (max-width: 361px) {
    .doubt-mobileviewbgimage img {
      margin-left: 1.8rem;
      margin-top: 1rem;
      width: 270px;
      height: 270px;
    }
  }
}

/* videos section desktop view */

#video-section {
  background: rgba(135, 227, 255, 0.3);
}

.video-heading {
  padding-bottom: 1rem;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 65.57px;
  color: #262626;
}

.video-content {
  margin-bottom: 2rem;
  width: 877.65px;
  height: 92.31px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 21.13px;
  color: #737373;
}

.videos {
  margin-bottom: 4rem;
}

.videos1,
.videos2,
.videos3 {
  margin-top: 6px;
}
.video1,
.video2,
.video3 {
  width: 375.18px;
  height: 100%;
  /* height: 289.5px; */
  background: #ffffff;
  box-shadow: -5px 5px 10px 5px rgba(229, 229, 229, 0.25);
  border-radius: 10px;
}

.video1 img,
.video2 img,
.video3 img {
  border-radius: 20px;
}

.video1-name,
.video2-name,
.video3-name {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  line-height: 32.78px;
  color: rgba(43, 43, 43, 1);
}

.video1-desc,
.video2-desc,
.video3-desc {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
  line-height: 27.32px;
  color: rgba(131, 131, 131, 1);
}

.watch-bg {
  margin-left: 2rem;
  width: 350px;
  height: 80px;
  background-color: #000;
  border-radius: 10px;
  /* position: relative; */
}

.watch-more {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.vedio-img1 {
  width: 150px;
  height: 126px;
  border-radius: 50%;
}

.videoplaybtn {
  width: 70px;
}

.watchmore-playbtn {
  height: 85px;
  width: 85px;
}
.play {
  position: absolute;
  z-index: 1;
  margin-right: 20rem;
  margin-top: -0.2rem;
}

/* video section mobile view */

@media (max-width: 767px) {
  .video-heading {
    width: 100%;
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 33px;
    line-height: 38.25px;
    color: rgba(38, 38, 38, 1);
  }

  .video-content {
    width: 90%;
    font-family: "Raleway";
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 16.44px;
    color: rgba(115, 115, 115, 1);
  }

  .video1,
  .video2,
  .video3 {
    width: 90%;
    height: 100%;
    background: #ffffff;
    box-shadow: -5px 5px 10px 5px rgba(229, 229, 229, 0.25);
    border-radius: 10px;
    margin-inline: auto;
  }

  .video1 img,
  .video2 img,
  .video3 img {
    /* position: relative; */
    width: 100%;
    height: 75%;
    border-radius: 20px;
  }

  .video1-name,
  .video2-name,
  .video3-name {
    font-size: 20px;
    line-height: 27.32px;
  }

  .video1-desc,
  .video2-desc,
  .video3-desc {
    font-size: 16px;
    line-height: 21.86px;
  }

  .watchmore-playbtn {
    height: 55px;
    width: 55px;
  }

  .play {
    margin-right: 13rem;
    margin-top: -0.1rem;
  }
  .watch-bg {
    /* position: relative; */
    margin-left: 0;
    width: 231.75px;
    height: 52.97px;
  }

  .watch-more {
    font-weight: 600;
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    color: rgba(255, 255, 255, 1);
  }
}

/* mock test desktop view*/
.mocktest-div {
  display: flex;
  flex-direction: row;
  max-width: 64rem;
  margin-inline: auto;
}
.mocktest_name {
  font-weight: 800;
  font-style: normal;
  font-size: 24px;
  line-height: 32.78px;
  color: #262626;
}

.mocktest_details {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 18.78px;
  color: #262626;
}

.mocktest_free {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
  padding-top: 1rem;
}

.mocktest_free p {
  font-weight: 900;
  font-style: normal;
  font-size: 20px;
  line-height: 27.32px;
  text-align: center;
  text-transform: uppercase;
}

.mocktest-startbtn {
  width: 136.38px;
  height: 35px;
  background: #000000;
  border-radius: 35px;
}

.mocktest-start-arrow {
  margin-top: 2px;
  margin-right: 3px;
  width: 30px;
  height: 30px;
  background: #00e4ff;
  border-radius: 50%;
  color: white;
  padding: 3px 3px 0px 0px;
}
.start_test {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 16px;
  color: white;
  line-height: 19.2px;
  text-transform: uppercase;
  flex-grow: 1;
  margin-block: auto;
}

.free_mock {
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 54.64px;
  color: #262626;
}

.free_mock_details {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  line-height: 21.13px;
  color: #838383;
  width: 500px;
}

.free_mock_img {
  width: 350px;
  height: 345.29px;
}

.more_free_test {
  width: 350px;
  height: 60px;
  /* box-shadow: 0px 0px 25px 5px rgba(131, 131, 131, 0.1); */
  border-radius: 10px;
  padding-top: 0.8rem;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  line-height: 35.52px;
  text-align: center;
  color: white;
  /* background: #87e3ff; */
  background-color: black;
}

.more_free_test:hover {
  background-color: #161616;
}
.mock_name1 {
  width: 450px;
  height: 180px;
  background: #7bf6d8;
  border-radius: 15px;
}

.mock_name2 {
  width: 450px;
  height: 180px;
  background: #ffe85e;
  border-radius: 15px;
}

.mock_name3 {
  width: 450px;
  height: 180px;
  background: #feb3b1;
  border-radius: 15px;
}

.mock_img {
  width: 100px;
  height: 100px;
}

.more_free_test1 {
  display: none;
}

/* mocktest mobile view */

@media (max-width: 767px) {
  .mocktest-div {
    display: flex;
    flex-direction: column-reverse;
    padding-inline: 1rem;
  }
  .free_mock {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 36px;
    line-height: 49.18px;
    color: rgba(38, 38, 38, 1);
    text-align: center;
  }

  .free_mock_details {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    line-height: 18.78px;
    color: rgba(131, 131, 131, 1);
    text-align: center;
    width: 100%;
  }

  .free_mock_details p {
    width: 90%;
    text-align: center;
    margin: auto;
  }

  .mocks-heading {
    text-align: center;
  }

  .more_free_test {
    display: none;
  }

  .free_mock_img {
    width: 215.52px;
    height: 212.62px;
    margin-block: 1rem;
    margin-inline: auto;
  }

  .mock_img {
    width: 73px;
    height: 73px;
  }

  .mock_name1 {
    width: 100%;
    height: 115px;
    background: #7bf6d8;
    border-radius: 15px;
  }

  .mock_name2 {
    width: 100%;
    height: 115px;
    background: #ffe85e;
    border-radius: 15px;
  }

  .mock_name3 {
    width: 100%;
    height: 115px;
    background: #feb3b1;
    border-radius: 15px;
  }

  .mocktest_name {
    width: 139px;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 21.86px;
    color: rgba(38, 38, 38, 1);
  }

  .mocktest_details {
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    line-height: 11.74px;
    color: rgba(38, 38, 38, 1);
  }

  .mock_name {
    flex-grow: 2;
  }

  .mocktest_free {
    width: 43.84px;
    height: 43.84px;
    background: #ffffff;
    border-radius: 10px;
  }

  .mocktest_free p {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 12px;
    line-height: 16.39px;
    text-align: center;
    color: rgba(0, 0, 0, 1);
  }

  .start_test {
    font-weight: 600;
    font-style: normal;
    font-size: 12px;
    line-height: 14.4px;
    color: white;
  }

  .more_free_test1 {
    display: block;
    width: 250px;
    height: 42.86px;
    font-family: "Manrope";
    background-color: black;
    box-shadow: 0px 0px 25px 5px rgba(131, 131, 131, 0.1);
    border-radius: 10px;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    line-height: 24.59px;
    text-align: center;
    color: white;
    padding-top: 0.6rem;
  }
}

/* testimonial desktop view */
.testimonial-leftcontent {
  padding-top: 5rem;
}

.testimonial_card {
  width: 175px;
  height: 218.75px;
  background: #ffffff;
  border: 2px solid #ffe01c;
  box-sizing: border-box;
  box-shadow: 4px 4px 30px 10px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  padding-top: 1.5rem;
}

.testimonial-card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-inline: auto;
}

.testimonial-card-name {
  width: 123px;
  height: 32px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #262626;
  padding-top: 8px;
  margin-inline: auto;
}

.testimonial-class {
  width: 85px;
  height: 19px;
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3c3c3c;
  padding-top: 8px;
  margin-inline: auto;
}

.card1 {
  position: relative;
  top: 6rem;
  left: 5rem;
}

.card2 {
  position: relative;
  left: 17rem;
}

.card3 {
  position: relative;
  bottom: 6rem;
  left: 5rem;
}

.testimonial-title {
  width: 100%;
  height: 43px;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 48px;
  line-height: 65.57px;
  color: rgba(0, 0, 0, 1);
}

.testimonial-content {
  font-family: "Questrail", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 24.72px;
  color: rgba(60, 60, 60, 1);
  width: 518px;
  /* height: 160px; */
}

.testimonial-head {
  font-family: "Manrope", sans-serif;
  width: 559px;
  /* height: 43px; */
  font-weight: 700;
  font-style: normal;
  font-size: 36px;
  line-height: 43.2px;
}

.testimonial_card:hover {
  transform: scale(1.1);
}

.underline1 .testimonialheading {
  display: inline-block;
  position: relative;
}

.underline1 .testimonialheading:after {
  content: "";
  height: 1px;
  width: 90%;
  background-color: gray;
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  transform: translate(-50%);
}

.testimonial-rightcontent1 {
  display: none;
}

@keyframes cardcycle {
  from {
    transform: scale(1);
  }
  to {
    border: 2px solid blue;
    transform: scale(1.1);
  }
}
/* 
.card1 {
  animation: cardcycle 1s 1s;
}
.card2 {
  animation: cardcycle 1s 2s;
}
.card3 {
  animation: cardcycle 1s 3s;
} */

/* testimonial mobile view */

@media (max-width: 767px) {
  .testimonial-rightcontent {
    display: none;
  }

  .testimonial-leftcontent {
    padding-top: 9rem;
    text-align: center;
  }

  .testimonial-rightcontent1 {
    display: block;
    position: absolute;
    top: -5rem;
  }

  .testimonial-card1 {
    width: 143.01px;
    height: 178.76px;
    background: #ffffff;
    border: 2px solid blue;
    box-sizing: border-box;
    box-shadow: 4px 4px 30px 10px rgba(158, 145, 145, 0.1);
    border-radius: 25px;
    padding-top: 1rem;
  }

  .testimonial-card-img1 {
    width: 81.72px;
    height: 81.72px;
    border-radius: 50%;
    margin-inline: auto;
  }

  .testimonial-card-name1 {
    width: 95.67px;
    height: 20.43px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #262626;
    margin-inline: auto;
  }

  .testimonial-class1 {
    width: 53.12px;
    height: 15.53px;
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #3c3c3c;
    margin-inline: auto;
  }

  .testimonial {
    position: relative;
    padding-inline: 1rem;
    margin-inline: 1rem;
    padding-bottom: 2rem;
    background: #ffffff;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }

  #slider {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
  }

  /* #slider .testimonial-card1 {
    background-color: red;
  } */

  @keyframes animate-red {
    0% {
      transform: translateX(0%);
    }
    50% {
      transform: translateX(-50%) scale(1.2);
      z-index: 1;
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes animate-yellow {
    0% {
      transform: translateX(0%);
    }

    100% {
      transform: translateX(100%);
    }
  }

  @keyframes animate-blue {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(35%);
    }
  }
  .testimonial-card-1 {
    position: relative;
    /* background-color: yellow; */
    /* animation: animate-yellow 15s linear infinite; */
  }

  .testimonial-card-2 {
    position: absolute;
    left: 9.7rem;
    /* background-color: red; */
    /* animation: animate-red 15s linear infinite; */
  }

  .testimonial-card-3 {
    position: relative;
    right: 4rem;
    height: 198px;
    width: 163px;
    /* background-color: blue; */
    margin-top: -10px;
    /* animation: animate-blue 15s linear infinite; */
  }

  .testimonial-title {
    /* width: 90%; */
    height: 82px;
    font-size: 30px;
    line-height: 40.98px;
    margin-bottom: 4rem;
    padding-inline: 1rem;
  }

  .testimonial-head {
    width: 100%;
    /* height: 58px; */
    font-size: 24px;
    line-height: 28.8px;
    margin-bottom: 1rem;
  }

  .testimonial-content {
    width: 100%;
    /* height: 130.67px; */
    font-size: 18px;
    line-height: 20.54px;
    padding-bottom: 1rem;
  }

  @media (max-width: 281px) {
    .testimonial-card-2 {
      left: 4.5rem;
    }

    .testimonial-card-3 {
      right: 0px;
      left: -7.3rem;
    }
  }

  @media (min-width: 282px) and (max-width: 321px) {
    .testimonial-card-2 {
      left: 7rem;
    }
    .testimonial-card-3 {
      left: -6rem;
    }
    .testimonialmobilehead {
      padding-bottom: 8rem;
    }
  }

  @media (min-width: 370px) and (max-width: 376px) {
    .testimonial-card-2 {
      left: 10.5rem;
    }
  }

  @media (min-width: 400px) and (max-width: 412px) {
    .testimonial-card-1 {
      left: 2.5rem;
    }

    .testimonial-card-2 {
      left: 10.5rem;
    }
    .testimonial-card-3 {
      right: 3rem;
    }
  }

  @media (min-width: 413px) and (max-width: 415px) {
    .testimonial-card-1 {
      left: 3rem;
    }
    .testimonial-card-3 {
      right: 3rem;
    }
  }
  @media (min-width: 499px) and (max-width: 511px) {
    .testimonial-card-1 {
      left: 3rem;
    }
    .testimonial-card-2 {
      left: 15rem;
    }
    .testimonial-card-3 {
      right: 1rem;
    }
  }

  @media (min-width: 512px) and (max-width: 541px) {
    .testimonial-card-1 {
      left: 5rem;
    }
    .testimonial-card-2 {
      left: 15rem;
    }
    .testimonial-card-3 {
      right: -0.5rem;
    }
  }
}

/* achievement  desktop view*/

.cardbackground {
  background: linear-gradient(
    102.4deg,
    #6cbedd 5.64%,
    rgba(121, 207, 240, 0.7) 92.95%
  );
}

.card-shadow {
  border: 1px solid rgba(131, 131, 131, 0.15);
  width: 400px;
  height: 200px;
  box-shadow: 8px 5px 30px rgba(131, 131, 131, 0.15);
  border-radius: 30px;
}

.content1,
.content2,
.content3,
.content4 {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: rgba(0, 0, 0, 1);
}

.number {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  color: rgba(51, 51, 51, 1);
}

.back {
  background-size: cover;
  background-image: url("../public/image/achievement-bg.png");
  background-repeat: no-repeat;
}

.join-acheivement {
  width: 485px;
  height: 72px;
  background-color: #000;
  /* background: linear-gradient(90deg, #4facfe 0%, #00f2fe 100%); */
  border-radius: 15px;
}

.join-acheivement:hover {
  background-color: #161616;
}

.hvr-grow-block {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-block:hover,
.hvr-grow-block:focus,
.hvr-grow-block:active {
  transform: scale(1.1);
}
.join {
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  line-height: 38.25px;
  text-align: center;
  color: white;
  /* color: rgba(255, 255, 255, 1); */
}

/* achievement mobile view */

@media (max-width: 767px) {
  .achievement_name {
    font-size: 40px;
    line-height: 38.25px;
  }

  .cardbackground {
    background: linear-gradient(102.4deg, #6cbedd 5.64%, #9ce4ff 92.95%);
  }

  .card-shadow {
    width: 90%;
    height: 95%;
    box-shadow: 8px 5px 30px rgba(131, 131, 131, 0.15);
    border-radius: 0px 30px 30px 0px;
  }

  .card-shadow:nth-child(even) {
    border-radius: 30px 0px 0px 30px;
  }

  .comp {
    font-size: 24px;
  }

  .content1,
  .content2,
  .content4 {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 26px;
    /* line-height: 38.25px; */
    color: rgba(0, 0, 0, 1);
  }

  .number {
    font-family: Raleway;
    font-weight: 600;
    font-style: normal;
    font-size: 40px;
    line-height: 46.96px;
    color: rgba(0, 0, 0, 1);
  }

  .join-acheivement {
    width: 90%;
    height: 55px;
    background-color: black;
  }

  .back {
    padding-block: 3rem;
    background-image: url("../public/image/achievement-bg.png");
  }

  .achievementbg-height {
    height: 550px;
  }
  @media (max-width: 290px) {
    .achievementbg-height {
      height: 750px;
    }
  }

  @media (min-width: 310px) and (max-width: 321px) {
    .achievementbg-height {
      height: 660px;
    }
  }

  @media (min-width: 322px) and (max-width: 361px) {
    .achievementbg-height {
      height: 630px;
    }
  }

  @media (min-width: 362px) and (max-width: 415px) {
    .achievementbg-height {
      height: 600px;
    }
  }

  @media (min-width: 416px) and (max-width: 550px) {
    .achievementbg-height {
      height: 600px;
    }
  }
}

/* footer section desktop view */

.footer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #27252f;
  padding-block: 10%;
}

.wholefooter {
  position: relative;
  margin-top: 40%;
}

.call-to-action {
  width: 90%;
  /* height: 500px; */
  background: #ffffff;
  box-shadow: 0px -4px 32px 16px rgba(131, 131, 131, 0.1);
  border-radius: 11.8px;
}

.tablet_img {
  /* margin-left: 9rem; */
  /* width: 100%; */
  /* height: 322px; */
}

.tablet_img img {
  float: right;
}
.playstore_img {
  width: 198px;
  height: 60px;
  margin-left: -11px;
}

.call-to-action {
  position: absolute;
  bottom: 90%;
  left: 5%;
  display: flex;
  justify-content: space-around;
}

.heading {
  width: 340px;
  /* height: 120px; */
  font-family: "Poppins";
  font-weight: 600;
  font-size: 40px;
  color: #3c4852;
  margin-bottom: 1rem;
}

.sub_heading {
  width: 390px;
  height: 65px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Poppins";
}

.footer-details {
  width: 100%;
}

.details1-head1,
.details1-head2,
.details1-head3,
.details1-head4 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 28.18px;
  color: rgba(131, 131, 131, 1);
  padding-bottom: 14px;
  padding-top: 10px;
}

.details1 li {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21.13px;
  color: rgba(255, 255, 255, 1);
  padding-block: 10px;
  margin-block: 4px;
}

.details2-head1,
.details2-head2 {
  font-family: "Raleway";
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 21.13px;
  color: rgba(131, 131, 131, 1);
}

.details2-desc1,
.details2-desc2 {
  font-weight: "Raleway";
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 21.13px;
  color: rgba(255, 255, 255, 1);
}

.details3-content1 {
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 28.18px;
  color: rgba(214, 214, 214, 1);
  width: 304px;
  padding-bottom: 20px;
}

.details3-img {
  width: 148.85px;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 25px;
}

.details3-copyrit {
  font-family: "Raleway";
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 29.13px;
  color: rgba(103, 91, 76, 1);
  padding-top: 0.5rem;
}

.details3-logo {
  margin-top: 20px;
  margin-left: 150px;
}

.fab {
  margin-inline: 6px;
}

.iconborder i {
  width: 50px;
  height: 50px;
  border: 1px solid #7c7c7c;
  box-sizing: border-box;
  border-radius: 40px;
  padding-top: 9px;
  padding-left: 9px;
  color: white;
}

.iconborder i:nth-child(4n + 0) {
  padding-left: 6px;
}

/* footer section mobile view */

@media (max-width: 767px) {
  .details1-head1,
  .details1-head2,
  .details1-head3,
  .details1-head4 {
    font-size: 20px;
  }
  .wholefooter {
    margin-top: 120%;
  }

  .footer {
    padding-top: 20%;
  }

  .details3-logo {
    float: right;
    margin-left: 0px;
  }
  @media (max-width: 281px) {
    .wholefooter {
      margin-top: 170%;
    }

    .footer {
      padding-top: 40%;
    }

    .details1-head1 {
      padding-bottom: 2.6rem;
    }
  }

  /* @media (min-width: 282px) and(max-width: 321px) {
    .details1-head1 {
      padding-bottom: 2.6rem;
      background-color: red;
    }
  } */

  @media (min-width: 319px) and (max-width: 376px) {
    .wholefooter {
      margin-top: 150%;
    }

    .footer {
      padding-top: 30%;
    }
    .details1-head1 {
      padding-bottom: 1rem;
    }
    @media (max-width: 322px) {
      .details1-head1 {
        padding-bottom: 2.6rem;
      }
    }
    @media (min-width: 361px) {
      .details1-head4 {
        padding-bottom: 2.6rem;
      }
    }
  }

  @media (min-width: 400px) and (max-width: 440px) {
    .wholefooter {
      margin-top: 140%;
    }
    /* .details1-head3 {
      padding-bottom: 2.5rem;
    } */
  }
  .details1-head1,
  .details1-head2,
  .details1-head3,
  .details1-head4 {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: rgba(131, 131, 131, 1);
  }

  .details1 {
    max-width: 90%;
    margin-inline: auto;
  }
  .details1 ul:nth-child(even) {
    text-align: right;
  }
  .details1 li {
    font-size: 14px;
  }

  .details3 {
    max-width: 90%;
    margin-inline: auto;
  }

  .footer-details {
    width: 100%;
  }

  .fab {
    /* padding-top: 2rem; */
    font-size: 22px;
    margin-inline: 3px;
  }

  .details2,
  .details3-copyrit {
    display: none;
  }

  .details3-content1 {
    width: 100%;
    /* height: 49.72px; */
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    line-height: 21.13px;
    color: rgba(214, 214, 214, 1);
  }

  .details3-logo {
    margin-top: 9px;
    /* margin-left: 100px; */
  }

  @media (min-width: 500px) {
    .details3-logo {
      /* margin-left: 150px; */
    }
  }
  .call-to-action {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    position: absolute;
    /* height: 90%; */
    width: 90%;
    /* left: 15px; */
  }

  .call-to-action {
    padding-block: 4rem;
  }
  .heading {
    width: 100%;
    /* height: 42px; */
    font-family: "Poppins";
    font-weight: 600;
    font-size: 30px;
    color: #3c4852;
    margin-top: 2rem;
  }

  .sub_heading {
    width: 100%;
    height: 65px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins";
  }

  .playstore_img {
    margin-inline: auto;
    width: 198px;
    height: 60px;
  }

  .tablet_img {
    margin-left: 0px;
    /* height: 100px; */
  }

  .tablet_img img {
    margin-inline: auto;
  }
}

.iconborder1 i {
  /* width: 35px; */
  /* height: 35px; */
  border: 1px solid #7c7c7c;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 4px;
  color: white;
}

.iconborder1 {
  margin-left: -0.3rem;
}

@media (min-width: 350px) and (max-width: 380px) {
  /* .solution {
    font-size: 21px;
  } */
}

@media (max-width: 290px) {
  .heading {
    font-size: 23px;
  }
}

.details3-img {
  width: 195.66px;
  height: 50px;
  border-radius: 5px;
  margin-left: -0.8rem;
}

/* study material desktop view */

.study-head {
  width: 158.77px;
  height: 43.83px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.study-head-desc {
  width: 151.95px;
  height: 46.46px;
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #2d2d2d;
}

.book-img,
.exam-img,
.patent-img,
.textbook-img {
  width: 92.53px;
  height: 98.09px;
}

.study_sub_content {
  font-family: Raleway;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  color: #838383;
  line-height: 19px;
  width: 492px;
  height: 121px;
}

.study_card {
  width: 194.81px;
  height: 292.21px;
  border-radius: 25px;
  box-shadow: 2px 10px 15px 5px rgba(214, 214, 214, 0.29);
}

.study1_bg {
  background: #b6e5e5;
}

.study2_bg {
  background: #ffe9b3;
}

.study3_bg {
  background: #ddefff;
}

.study4_bg {
  background: #faddff;
}

/* study material section mobile view */

@media (max-width: 767px) {
  .study_sub_content {
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    line-height: 18.78px;
    color: rgba(131, 131, 131, 1);
    width: 90%;
    height: 100%;
  }

  .study-img {
    width: 200px;
    height: 200px;
  }

  .study_card {
    width: 40%;
    height: 245px;
    margin: 1.5%;
  }

  .text-solution {
    line-height: 1.5rem;
  }

  .syllabus {
    padding-top: 1rem;
  }

  .book-img,
  .exam-img,
  .patent-img,
  .textbook-img {
    width: 71.25px;
    height: 75.53px;
  }

  .studycard {
    justify-content: space-around;
  }

  @media (max-width: 400px) {
    .study-head {
      width: 100%;
    }

    .study-head-desc {
      height: 45.78px;
      width: fit-content;
      padding-top: 0.75rem;
    }

    .study_card {
      height: 235px;
    }
  }
}

@media (min-width: 500px) {
  .study-head {
    width: fit-content;
  }

  .study-head-desc {
    width: fit-content;
    padding-top: 0.75rem;
  }
}
